@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-3xl font-bold my-2 text-white ;

    font-size: 25px;
    border: 2px double skyblue;
    text-align:center;
    background:black;
    color:yellowgreen;
}
h2 {
    @apply text-2xl font-bold my-2 text-white;
}
h3 {
    @apply text-lg font-medium;
}
a {
    @apply text-blue-600 underline;
}
img {
    width: 170px;
    height: 170px;
    display: inline-block;
    text-align: center;

    }

#headerIcon {
    width: 45px;
}
body{
    color:rgb(90, 107, 237);
}
p{
    font-size:20px;

}
.text{
    
    position: relative; 
    left:10px;
}
