@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-3xl font-bold my-2 text-white ;

    font-size: 50px;
    border: 5px double yellow;
    text-align:center;
    padding: 5%;
    color:yellow;
}
h2 {
    @apply text-2xl font-bold my-2 text-white;
}
h3 {
    @apply text-lg font-medium;
}

h4{
    font-size:20px;
}
img {
    width: 170px;
    height: 170px;
    position: relative;
    text-align: center;
    }

#headerIcon {
    width: 45px;
}

body{
    color:rgb(90, 107, 237);
}

p
{
text-align: left;
font-size:20px;
}

label{
    font-size:20px;
}

/* コメントの枠の調整 */
.comments-container {
    max-width: 600px;
    /* 必要に応じて変更 */
    width: 100%;
}

#click ,.delete-position{
    display: flex;
    justify-content: flex-end;
    padding:10px;
    gap:20px;
}

#btn{
    position:fixed;
    bottom:30px;
    right:30px;
    cursor:pointer;
    width:100px;
    height:100px;
    border-radius: 30%;
  }

  .file-select::file-selector-button{
    font-weight: bold;
  color: white;
  background: black;
  font-size: 14px;
  border: 0;
  border-radius: 10em;
  padding: 8px 16px;
  text-align: center;
  }

  .userIcon{
    display: flex;
    
    align-items: center;
}