@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-3xl font-bold my-2 text-white ;

    font-size: 50px;
    border: 10px double skyblue;
    text-align:center;
    background:gray;
}
h2 {
    @apply text-2xl font-bold my-2 text-white;
}
h3 {
    @apply text-lg font-medium;
}
a {
    @apply text-blue-600 underline;
}
img {
    width: 96px;
    height: 96px;
    }
body{
    color:rgb(90, 107, 237);
}




@import "./style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;